<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allen.learningbootmybatis.mapper.UserMapper">
    <update id="updateById">
        update t_user
        <set>
            <if test="user.name != null">
                name = #{user.name},
            </if>
            <if test="user.password != null">
                password = #{user.password},
            </if>
            <if test="user.sex != null">
                sex = #{user.sex}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="findById" parameterType="String" resultType="com.allen.learningbootmybatis.pojo.DO.UserDO">
        SELECT
        FROM t_user
        WHERE id = #{id}
    </select>
    <!--
        模糊查询
            1. 在Java代码加上'%',再传进来
            2. 使用comcat('str', '%')数据库方法，但是不同的数据库有不同的使用差别，不推荐使用
            3. 使用<bind>标签
            注意：
                尽量避免使用${}，有sql注入风险
                所有的输入参数都应该考虑特殊字符的过滤
     -->
    <select id="findByName" resultType="com.allen.learningbootmybatis.pojo.DO.UserDO">
        <bind name="name" value="name+'%'"/>
        SELECT *
        FROM t_user
        <where>
            name like #{name}
        </where>
    </select>
    <select id="findByCondition" resultType="com.allen.learningbootmybatis.pojo.DO.UserDO">
        select * from t_user
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
                <otherwise>
                    <if test="name != null">
                        <bind name="name" value="name+'%'"/>
                        name like #{name}
                    </if>
                    <if test="password != null">
                        and password = #{password}
                    </if>
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="findListByIds" resultType="com.allen.learningbootmybatis.pojo.DO.UserDO">
        select * from t_user
        <where>
            id in
            <foreach close=")" collection="ids" item="id" open="(" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

</mapper>